<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>ASTEC Embryo Ai</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="/static/admin/layui/css/layui.css" />
    <link rel="stylesheet" type="text/css" href="/static/front/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/static/front/css/createCase.css" />
</head>

<body>
    <!--主体内容都放在这个div里-->
    <div class="main" style="padding:10px">
        <div class="title">
            <h1>新建病历</h1>
            <h6>New Cases</h6>
        </div>
        <form class="layui-form" id="procedureForm" action="">
            {% if current_user.is_authenticated %}
                <input type="hidden" name="userId" id="userId" value="{{current_user.id}}">
            {% endif %}
            <!--选择皿-->
            <!-- <div class="choice incubator" id="incubatorNameDiv">
                <strong>培养箱选择：</strong>
                <span class="active">001</span><span>002</span><span>003</span>
            </div> -->
            <input type="hidden" name="incubator" id="incubator"/>
            <!-- <div class="choice dish" id="dishDiv">
                <strong>培养皿选择：</strong>
                <span class="active">1</span><span>2</span><span>3</span><span>4</span><i>* 最多只能选择2个皿</i>
            </div> -->
            <input type="hidden" name="dish" id="dish"/>
            <!-- 新增--采集目录选择 -->
            <div class="catalog">
                    <div class="layui-inline">
                        <label class="layui-form-label"><i>*</i>采集目录选择：</label>
                        <div class="layui-input-inline">
                                <select name="catalogSelect" id="catalogSelect" lay-filter="catalogSelect" lay-search>
                                    <option value="0"></option>
                                </select>
                            </div> 
                        </div>
                        <div class="catalog-details" style="display:none" id="catalogInfoDiv">
                            <div class="tag">
                                 <div class="arrow">
                                     <em></em><span></span>
                                </div>
                                <p>培养箱：<span id="catalog_incubator"></span></p>
                                <p>培养皿：<span id="catalog_dish"></span></p>
                                <p>姓  名：<span id="catalog_patient"></span></p>
                                <p>开始采集时间：<span id="catalog_collection_time"></span></p>
                            </div>
                        </div>
                </div>
            <!--基本信息-->
            <h1 class="details-title">基本信息</h1>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label"><i>*</i>姓名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="patientName" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label"><i>*</i>身份证号</label>
                    <div class="layui-input-inline">
                        <input type="hidden" id="checkIdResult">
						<div class="field">
                            <input type="text" name="nope" id="nope" placeholder="" 
                            class="layui-input" onchange="countAgeByIdCard()" maxlength="18"/>
						</div>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label"><i>*</i>出生日期</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" id="birth" name="birthdate" onChange="countAge()">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label"><i>*</i>移动电话</label>
                    <div class="layui-input-inline">
                        <input type="text" name="mobile" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">电子邮箱</label>
                    <div class="layui-input-inline">
                        <input type="text" name="email"  class="layui-input">
                    </div>
                </div>
				
                <div class="layui-inline">
                    <label class="layui-form-label">住址</label>
                    <div class="layui-input-inline">
                    	<select name="province" lay-filter="province" class="province">
                    		<option value="">请选择省</option>
                    	</select>
                    </div>
                    <div class="layui-input-inline">
                    	<select name="city" lay-filter="city" disabled>
                    		<option value="">请选择市</option>
                    	</select>
                    </div>
                    <div class="layui-input-inline">
                    	<select name="area" lay-filter="area" disabled>
                    		<option value="">请选择县/区</option>
                    	</select>
                    </div>
					<div class="layui-input-inline">
						<input type="text" name="address"  class="layui-input">
					</div>
                </div>
				<div class="layui-inline" style="margin-top: -8px; margin-left: 36px;">
					<input type="checkbox" name="is_drinking" title="吸烟史" lay-skin="primary">
					<input type="checkbox" name="is_smoking" title="酗酒史" lay-skin="primary"> 
				</div>
            </div>
            <!--基本信息-->
            <h1 class="details-title">周期信息</h1>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label"><i>*</i>病历号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="medical_record_no" class="layui-input">
                    </div>
                </div>
				<div class="layui-inline">
                    <label class="layui-form-label"><i>*</i>年龄</label>
                    <div class="layui-input-inline">
                        <input type="text" name="patient_age" id="patientAge" class="layui-input">
                    </div>
                </div>
				<div class="layui-inline">
					<label class="layui-form-label">身高(cm)</label>
					<div class="layui-input-inline">
						<input type="number" name="patient_height"  class="layui-input">
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">体重(kg)</label>
					<div class="layui-input-inline">
						<input type="number" name="patient_weight"  class="layui-input">
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">取卵时间</label>
					<div class="layui-input-inline">
						<input type="text" class="layui-input" name="ec_time" id="get">
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">取卵个数</label>
					<div class="layui-input-inline">
						<input type="number" name="ec_count"  class="layui-input">
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label"><i>*</i>授精方式</label>
					<div class="layui-input-inline">
						<input type="radio" name="aid" value="IVF" title="IVF">
						<input type="radio" name="aid" value="ICSI" title="ICSI">
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label"><i>*</i>授精时间</label>
					<div class="layui-input-inline">
						<input type="text" name="insemi_time" class="layui-input" id="iui">
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label"><i>*</i>胚胎个数</label>
					<div class="layui-input-inline">
                        <input type="number" name="embryo_number" id="embryo_number"  class="layui-input">
                        <input type="hidden" name="well_id" id="well_id">
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label"><i>*</i>评分标准</label>
					<div class="layui-input-inline">
							<select name="embryo_score" id="rule">
								
							</select>
						</div> 
					</div>
				</div>
                </form>
                
                <div class="layui-form-item">
                        <div class="layui-input-block">
                            <input  class="layui-btn layui-bg-blue" type="button"  id="addCaseButton" onclick="addCase()" value="创建病历" />
                        </div>
                    </div>

            </div>

             

    <script src="/static/admin/layui/layui.js"></script>
    <script src="/static/front/js/procedure/createCase.js"></script>
	<script src="/static/admin/common/jquery.min.js"></script>
	<script src="/static/front/autocompleter/jquery.autocompleter.js"></script>
	<script type="text/javascript">
		layui.config({
			base : "/static/front/js/procedure/" //address.js的路径
		}).use([ 'layer', 'jquery', "address" ], function() {
			var layer = layui.layer, $ = layui.jquery, address = layui.address();
 
		});
	</script>

	
</body>

</html>