<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>ASTEC Embryo Ai</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Access-Control-Allow-Origin" content="*">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="icon" href="/static/favicon.ico">
	<link rel="stylesheet" href="/static/admin/layui/css/layui.css"/>
	<link rel="stylesheet" type="text/css" href="/static/front/css/main.css"/>
	<link rel="stylesheet" type="text/css" href="/static/front/css/case.css"/>
	<style type="text/css">
		html,body{
			background-color: #fff;
		}
		.layui-table-link{
			color: #007DDB;
		}
		.layui-table-link:hover{
			color: #01AAED;
		}
		.details-box strong, .details-box span{
			padding-top: 2px;
		}
	</style>
</head>
<body>
	<form action="" id="procedureEdit">
	<div class="details-box" style="display: block;">
		<input type="hidden" name="id" value="{{id}}" id="id"/>
		<input type="hidden" name="patientId" id="patientId"/>
		<h1 class="details-title">基本信息</h1>
		<strong>姓名：</strong><span id="patient_name"></span>
		<strong>身份证：</strong><span id="idcard_no"></span>
		<strong>电话：</strong><span id="mobile"><input type="tel" name="mobile" id="new_mobile"  autocomplete="off" class="layui-input"/></span>
		<strong>邮箱：</strong><span id="email"><input type="email" name="email" id="new_email" autocomplete="off" class="layui-input"/></span>
		<strong>出生日期：</strong><span id="birthdate"></span>
		<strong>住址：</strong><span id="address"><input type="text" name="address" id="new_address"  autocomplete="off" class="layui-input"/></span>
		<strong>吸烟史：</strong>
		<span>
			<div class="hist">
				<label><input type="checkbox" id="is_smoking" disabled/><i>✓</i></label>
			</div>
		</span>		
		<strong>酗酒史：</strong>
		<span>
			<div class="hist">
				<label><input type="checkbox" id="is_drinking" disabled/><i>✓</i></label>
			</div>
		</span>	


		<h1 class="details-title">周期资料</h1>
		<strong>病历号：</strong><span id="medical_record_no"></span>
		<strong>年龄：</strong><span id="patient_age"></span>
		<strong>身高：</strong><span id="patient_height"></span>
		<strong>体重：</strong><span id="patient_weight"></span>
		<strong>取卵日期：</strong><span id="ec_time"></span>
		<strong>取卵个数：</strong><span id="ec_count"></span>
		<strong>授精方式：</strong><span id="insemi_type"></span>
		<strong>授精时间：</strong><span id="insemi_time"></span>
		<strong>胚胎个数：</strong><span id="embryo_num"></span>
		<strong>评分标准：</strong><span id=""></span>
		<strong>备注：</strong><span><input type="text" name="memo" id="new_memo"  autocomplete="off" class="layui-input"/></span>
		<h1 class="details-title">胚胎位置</h1>
		<table id="embryo_table">
			<tr><th>胚胎编号</th><th>培养箱编号</th><th>培养皿位置</th><th>孔位置</th></tr>
		</table>
	</div>

</form>
  <div class="layui-form-item btn-box" style="text-align: center;margin: 15px 0;">
		<button type="submit" class="layui-btn layui-bg-blue" onclick="update()" style="margin: 0;padding: 0 100px;">修改</button>
  </div>
	<!--公共js引入-->
	<script src="/static/admin/layui/layui.js"></script>
	<script src="/static/admin/common/jquery.min.js" charset="utf-8"></script>
	<script src="/static/front/js/procedure/detail.js"></script>
</body>
</html>