{% extends 'front/header-footer.html' %} {% block mianDiv %}
<link rel="stylesheet" type="text/css"
	href="/static/front/css/cycleView.css" /> 
<style type="text/css">
html,body,.container{
	/* min-width: 1300px; */
}
.layui-table-view {
	margin-top: 0;
}

.layui-table-cell {
	height: 34px;
	line-height: 34px;
	font-weight: bolder;
}

tbody tr td .layui-table-cell {
	height: 144px;
	line-height: 134px;
}
</style>
<div class="container">
	<div class="main">
		<div class="title">
			<h1>周期综合视图</h1>
			<h6>Cycle View</h6>
		</div>
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">查询条件</label>
				<div class="layui-input-inline">
					<div class="field">
						<input type="text" name="medicalRecordNo" value="{{medicalRecordNo}}" placeholder="请输入病历号" id="medicalRecordNo"
							class="layui-input">
					</div>
				</div>
			</div>
			<div class="layui-inline btn-box">
				<button onclick="listView();" class="layui-btn layui-bg-blue">查询</button>
			</div>
		</div>

		<div class="defaultimg" id="defDiv">
			~请输入病历号查询~
		</div>
		<div class="det-box" id="patientView" style="display: none;">
			<ul class="info-top"  >
				<li><span id="patientName"></span> <span id="patientAge"></span>
					<strong>授精时间：</strong> <span id="insemiTime"></span></li>
					<li class="emb"><strong>胚胎总数：</strong><span id="胚胎总数"></span></li>
				<p id="qts"></p>
			</ul>
			<div class="layui-form">
				<table id="cycle-table" class="layui-table">
					<thead id="theadView">
					</thead>
					<tbody id="tbodyView">
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<!--公共js引入-->
<script src="/static/front/js/procedure/cycleView.js"></script>
<script src="/static/front/autocompleter/jquery.autocompleter.js"></script>
{% endblock %}
