{% extends 'front/header-footer.html' %}
{% block mianDiv %}
		
    <div class="main">
			
			<!--主体内容都放在这个div里-->
			<input type="hidden" id="name" value="{{ name }}" />
			<div class="title">
				<h1>查询病历</h1>
				<h6>Case History</h6>
			</div>
			
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">姓名</label>
					<div class="layui-input-inline">
						<div class="field">
							<input type="text" id="userName" name="userName" class="layui-input">
						</div>
					</div>
						
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">病历号</label>
					<div class="layui-input-inline">
						<div class="field">
							<input type="text" id="medicalRecordNo" name="medicalRecordNo" class="layui-input">
						</div>
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">取卵日期</label>
					<div class="layui-input-inline">
						<input type="text" readonly="readonly" class="layui-input" name="ecTime" id="ecTime" placeholder="-">
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">授精日期</label>
					<div class="layui-input-inline">
						<input type="text" readonly="readonly" class="layui-input" name="insemiTime" id="insemiTime" placeholder="-">
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">状态</label>
					<div class="layui-input-inline">
								<select name="state" id="state" class="m-select">
										<option value="">请选择</option>
								</select>
					</div>
				</div>
				<div class="layui-inline btn-box">
					<button  onclick="reload();" class="layui-btn layui-bg-blue" >查询</button>
					<button  onclick="reset();" class="layui-btn layui-btn-primary">重置</button>
				</div>
			</div>
			<table id="case-table" lay-filter="case-table" class="case-table"></table>
			<!--弹窗--回访信息-->
		</div>
<script src="/static/front/js/procedure/procedure.js"></script>
<script src="/static/front/autocompleter/jquery.autocompleter.js"></script>
{% endblock %}