{% extends 'front/header-footer.html' %} {% block mianDiv %}
<link rel="stylesheet" type="text/css"	href="/static/front/css/embryo.css" />
<link rel="stylesheet" type="text/css" href="/static/front/css/swiper.min.css" />
<style type="text/css">
body {
	width: 1400px;
	background-color: #fff;
	margin: auto;
}
.container {
	background-color: #fff;
}
.main {
	/* width: 1440px; */
	margin: auto;
	background-color: #fff;
}
.layui-form-checkbox[lay-skin=primary] span {
	font-size: 16px;
	font-weight: bold;
	color: #1b2437;
}
.footer{
	background-color: #f3f4f8;
}
.layui-form-radio *{
	font-size: 12px
}
.button-next, .button-prev {
			position: absolute;
			top: -2px;
			width: 34px;
			height: 154px;
			z-index: 10;
			cursor: pointer;
			background-size: initial;
			background-position: center;
			background-repeat: no-repeat;
		}
		
		
		.button-prev {
    background-image: url(/static/front/img/arrowR.png);
    right: -42px;
    left: auto;
		}
		.button-next {
    background-image: url(/static/front/img/arrowL.png);
		left: -42px;
    right: auto;
	}
</style>
<div class="main">
	<input type="hidden" id="procedureId" value="{{procedure_id}}"/>
	<input type="hidden" id="dishId" value="{{dish_id}}"/>
	<input type="hidden" id="embryoId" value="{{embryo_id}}"/>

	<!--滚动图-->
	<div class="scrollpic" id="scrollpic">
		<div id="myscroll">
			<div id="topNav" class="swiper-container">
				 <div class="swiper-wrapper" id="myscrollboxul">
				
				</div>
			</div>
			<!--左右按钮-->
			<div class="button-next" onclick="arrow('left')"></div>
			<div class="button-prev" onclick="arrow('right')"></div>
		</div>
	</div>
	<!--大图信息部分-->
	<div class="viewbox">
		<!--左边胚胎大图-->
		<div class="embryo" id="embryo">
			<!--图片区域-->
			<div class="lg-img" id="imgDiv">
				<!-- <img src="/static/front/img/20180711111150.png">
				<img src="/static/front/img/20180713153221.png"> -->
				<!-- <img src="/api/v1/image/findImage?procedureId=1&dishId=1&wellId=1&timeSeries=0000000"> -->
			</div>
			<!--胚胎信息-->
			<ul class="eminfo">
				<li><span>甄美丽</span><span>23岁</span></li>
				<li><span>胚胎编号：</span><span>A565323</span></li>
				<li><span>阶段：</span><span>DAY 2</span></li>
			</ul>
			<!--测量的信息
			<div class="metrical">
				<span id="area"></span> <span id="diameter"></span>
			</div>
			-->
			<!--标记结局-->
			<div class="mark">
				<i class="" data-mark=""></i>
				<!--	<i class="transplant" data-mark='1'></i>
				<i class="freeze"  data-mark='2'></i>
				<i class="abandon" data-mark='3'></i>
				<i class="hold" data-mark='4'></i>-->
			</div>
			<!--选为最清晰-->
			<div class="elect">
				<label><input type="checkbox" id="distinct" /><i>✓</i>标注为最清晰</label>
			</div>
			<!--z轴滚动-->
			<div class="shaft" id="zIndexDiv">
				<ul class="time-vertical" id="zIndex">
					<!-- <li><b></b></li>
					<li class="active"><b></b></li>
					<li><b></b></li>
					<li><b></b></li>
					<li><b></b></li>
					<li><b></b></li> -->
				</ul>
				<h6>z轴</h6>
			</div>
			<!--测量canvas-->
			<div class="canvas-box" id="canvasBox">
				<canvas id="canvas" width="" height=""></canvas>
			</div>
			<!--工具栏-->
			<div class="tool">
				<ul class="tool-play">
					<li class="pre-milestone" onclick="node('up');" ><i></i><span>上一里程碑</span></li>
					<li class="pre-frame" onclick="preFrame()"><i></i><span>上一帧</span></li>
					<li class="play" id="playBtn"><i></i><span>播放</span></li>
					<li class="next-frame" onclick="nextFrame()"><i></i><span>下一帧</span></li>
					<li class="next-milestone" onclick="node('down');" ><i></i><span>下一里程碑</span></li>
				</ul>
				<ul class="tool-play tool-end" id="embryo_fate_typeIdDiv">
				</ul>
				<ul class="tool-play tool-metrical">
					<li class="straight" data-li='1'><i></i><span>直线测量</span></li>
					<li class="roundness" data-li='2'><i></i><span>圆形测量</span></li>
					<!-- <li class="roundness2"><i></i><span>外周测量</span></li> -->
					<!-- <li class="roundness3"><i></i><span>囊腔面积</span></li> -->
				</ul>
				
			</div>
		</div>
		<!--右边信息-->
		<div class="info">
			<div style="width:100%; height: 130px;">
				<div class="export-btn">
					<div class="layui-input-block" style="margin: 12px 0 20px 0;">
					<button class="layui-btn layui-bg-blue" lay-submit lay-filter="" onclick="exportVideo()">导出当前视频</button>
					</div>
					<div class="layui-input-block" style="margin-left: 0px;">
						<button class="layui-btn layui-bg-blue" lay-submit lay-filter="" onclick="exportImg()">导出当前图像</button>
					</div>
				</div>
				<!--孔位选择-->
				<div class="site" id="site">
					<h1>孔位选择</h1>
					<ul id="siteitem">
							<li class="active"><span>well1</span><img src="/static/front/img/20180725183944.jpg"><i></i></li>
					</ul>
				</div>
			</div>
			<form action="" id="milestoneForm" class="layui-form">
				<input type="hidden" name="embryoId" value="{{embryo_id}}"/>
				<input type="hidden" name="procedureId" value="{{procedure_id}}"/>
				<input type="hidden" id="milestoneStage" name="milestoneStage"  />
				<input type="hidden" id="milestonePath" name="milestonePath"  />
				<input type="hidden" id="timeSeries"  name="timeSeries"  />
				<div id="milestone">

					<div class="layui-input-block"
						style="margin: 6px 8px 6px; min-height: 0;">
						<input type="checkbox" name="milestoneCheckbox" id="milestoneCheckbox"
							lay-skin="primary" lay-filter="milestone" title="将当前图像设为里程碑">
					</div>
					<div class="milestone-select">
						<h2>请选择里程碑节点</h2>
						<div class="layui-input-block" id="milestoneIdDiv"
							style="margin-left: 10px;"></div>
					</div>

				</div>
				<h2 id="stageDiv">
					胚胎形态学<span class="stage" id="stageId">（）</span>
				</h2>

				<div class="layui-form-item" id="pnDiv">
					<label class="layui-form-label"><i>*</i>PN数</label>
					<div class="layui-input-block" id="pnIdDiv"></div>
				</div>
				<div class="layui-form-item" id="countDiv">
					<label class="layui-form-label"><i>*</i>细胞个数</label>
					<div class="layui-input-block">
						<input type="radio" name="count" value="1" title="未分裂">
						<input type="radio" name="count" value="2" title="2C"> <input
							type="radio" name="count" value="3" title="3C"> <input
							type="radio" name="count" value="4" title="4C"> <input
							type="radio" name="count" value="5" title="5C"> <input
							type="radio" name="count" value="6" title="6C"> <input
							type="radio" name="count" value="7" title="7C"> <input
							type="radio" name="count" value="8" title="8C">
					</div>
				</div>
				<div class="layui-form-item" id="evenDiv">
					<label class="layui-form-label">均匀度</label>
					<div class="layui-input-block" id="evenIdDiv"></div>
				</div>
				<div class="layui-form-item" id="fragmentDiv">
					<label class="layui-form-label">碎片率</label>
					<div class="layui-input-block" id="fragmentIdDiv"></div>
				</div>
				<div class="layui-form-item" id="gradeDiv">
					<label class="layui-form-label"><i>*</i>评级</label>
					<div class="layui-input-block" id="gradeIdDiv"></div>
				</div>
				<h2 id="embryoSjDiv">胚胎数据<span class="reset" onclick="resetData()">重置</span></h2>
				<div id="embryoDiv" class="layui-form-item emdate">
					<div class="layui-inline">
						<label class="layui-form-label">胚胎外周面积</label>
						<div class="layui-input-inline">
							<input type="text" id="outerArea" name="outerArea" autocomplete="off" class="layui-input">
							<input type="hidden" id="hideOuterArea">
						</div>
						<label class="unit">um²</label>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">胚胎外周直径</label>
						<div class="layui-input-inline">
							<input type="text" id="outDiameter" name="outerDiameter" autocomplete="off" class="layui-input">
							<input type="hidden" id="hideOutDiameter">
						</div>
						<label class="unit">um</label>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">透明带厚度</label>
						<div class="layui-input-inline" >
							<input type="text" id="zonaThickness" name="zonaThickness" autocomplete="off" class="layui-input">
							<input type="hidden" id="hideZonaThickness">
						</div>
						<label class="unit">um</label>
					</div>
					
					<div class="layui-inline">
						<label class="layui-form-label">胚胎内周直径</label>
						<div class="layui-input-inline">
							<input type="text" id="innerDiameter" name="innerDiameter" autocomplete="off" class="layui-input">
							<input type="hidden" id="hideInnerDiameter">
						</div>
						<label class="unit">um</label>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">胚胎内周面积</label>
						<div class="layui-input-inline">
							<input type="text" id="innerArea" name="innerArea" autocomplete="off" class="layui-input">
							<input type="hidden" id="hideInnerArea">
						</div>
						<label class="unit">um²</label>
					</div>
					
					<!-- <div class="measuredata">
						测量数据—面积:<span>123456</span>&nbsp;um²&nbsp;直径:<span>123456</span>&nbsp;um&nbsp;长度:<span>123456</span>&nbsp;um&nbsp;
						<a>导入</a><a>重置</a>
					</div> -->
					<!--备注-->
					<h2>备注</h2>
					<div class="comment">
						<div class="layui-input-inline" style="width: 100%;">
							<textarea id="memo" rows="5" name="memo" placeholder="请输入内容" class="layui-textarea" style="min-height: 46px"></textarea>
						</div>
					</div>
					<h2 style="padding-bottom: 0;">胚胎评分<span class="score">25</span></h2>
				</div>
				
				<div class="layui-input-block"	style="text-align: center; margin:20px 0 0;">
					<button id="saveMilestoneButton" class="layui-btn layui-bg-blue"
						lay-submit lay-filter="milestoneFormSub" style="padding: 0 80px;">保存数据</button>
				</div>
			</form>

		</div>
	</div>
</div>
<div style="clear: both; height: 80px; width: 100%;"></div>
<div class="dbox" id="dbox-l">
	<p><strong>测量直线长度：</strong><span id="length"></span>&nbsp;um</p>
	<p><label>设置为透明带厚度&nbsp;<input type="radio" name="1" checked><i>✓</i></label></p>
</div>
<div class="dbox" id="dbox-c">
	<p><strong>测量直径：</strong><span id="diameter"></span>&nbsp;um</p>
	<p><strong>测量面积：</strong><span id="area"></span>&nbsp;um²</p>
	<p><label>设置为外周数据&nbsp;<input value="choseOut" type="radio" name="2" checked><i>✓</i></label></p>
	<p><label>设置为内周数据&nbsp;<input value="choseIn" type="radio" name="2"><i>✓</i></label></p>
</div>

<!--公共js引入-->
<script src="/static/front/js/embryo/embryo.js"></script>
<!--<script src="/static/front/js/embryo/image.js"></script> -->
<!--<script src="/static/front/js/embryo/well.js"></script> -->
<script src="/static/front/js/embryo/swiper.min.js"></script>
<script src="/static/admin/common/jquery.mousewheel.js"></script>
<script src="/static/admin/common/jquery.mousewheel.min.js"></script>


{% endblock %}