{% extends 'front/header-footer.html' %} {% block mianDiv %}
<link rel="stylesheet" type="text/css"	href="/static/front/css/embryo.css" />
<link rel="stylesheet" type="text/css" href="/static/front/css/swiper.min.css" />
<style type="text/css">
body {
	width: 1400px;
	background-color: #fff;
	margin: auto;
}
.container {
	background-color: #fff;
}
.main {
	/* width: 1440px; */
	margin: auto;
	background-color: #fff;
}
.layui-form-checkbox[lay-skin=primary] span {
	font-size: 16px;
	font-weight: bold;
	color: #1b2437;
}
.footer{
	background-color: #f3f4f8;
}
.layui-form-radio *{
	font-size: 12px
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background-image: url(/static/front/img/arrowR.png);
    right: -42px;
    left: auto;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
	background-image: url(/static/front/img/arrowL.png);
	left: -42px;
	right: auto;
}
.swiper-button-next, .swiper-button-prev {
	position: absolute;
	top: 20px;
	width: 34px;
	height: 154px;
	z-index: 10;
	cursor: pointer;
	-moz-background-size: 27px 44px;
	-webkit-background-size: 27px 44px;
	background-size: initial;
	background-position: center;
	background-repeat: no-repeat;
}
</style>
<div class="main">
	<input type="hidden" id="procedureId" value="{{procedure_id}}"/>
	<input type="hidden" id="dishId" value="{{dish_id}}"/>
	<input type="hidden" id="embryoId" value="{{embryo_id}}"/>


	<!--滚动图-->
	<div class="scrollpic" id="scrollpic">
		<div id="myscroll">
			<div id="topNav" class="swiper-container">
				 <div class="swiper-wrapper" id="myscrollboxul">
				
				</div>
			</div>
			<!--左右按钮-->
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
		</div>
	</div>
	<!--大图信息部分-->
	<div class="viewbox">
		<!--左边胚胎大图-->
		<div class="embryo" id="embryo">
			<!--图片区域-->
			<div class="lg-img" id="imgDiv">
				<!-- <img src="/static/front/img/20180711111150.png">
				<img src="/static/front/img/20180713153221.png"> -->
				<!-- <img src="/api/v1/image/findImage?procedureId=1&dishId=1&wellId=1&timeSeries=0000000"> -->
			</div>
			<!--胚胎信息-->
			<ul class="eminfo">
				<li><span>甄美丽</span><span>23岁</span></li>
				<li><span>胚胎编号：</span><span>A565323</span></li>
				<li><span>阶段：</span><span>DAY 2</span></li>
			</ul>
			<!--测量的信息-->
			<div class="metrical">
				<span>长度：20px</span> <span>长度：20px</span>
			</div>
			<!--标记结局-->
			<div class="mark">
				<i class="" data-mark=""></i>
				<!--	<i class="transplant" data-mark='1'></i>
				<i class="freeze"  data-mark='2'></i>
				<i class="abandon" data-mark='3'></i>
				<i class="hold" data-mark='4'></i>-->
			</div>
			<!--选为最清晰-->
			<div class="elect">
				<label><input type="checkbox" id="distinct" /><i>✓</i>标注为最清晰</label>
			</div>
			<!--z轴滚动-->
			<div class="shaft" id="zIndexDiv">
				<ul class="time-vertical" id="zIndex">
					<!-- <li><b></b></li>
					<li class="active"><b></b></li>
					<li><b></b></li>
					<li><b></b></li>
					<li><b></b></li>
					<li><b></b></li> -->
				</ul>
				<h6>z轴</h6>
			</div>
			<!--测量canvas-->
			<div class="canvas-box" id="canvasBox">
				<canvas id="canvas" width="" height=""></canvas>
			</div>
			<!--工具栏-->
			<div class="tool">
				<ul class="tool-play">
					<li class="pre-milestone"><i></i><span>上一里程碑</span></li>
					<li class="pre-frame" onclick="preFrame()"><i></i><span>上一帧</span></li>
					<li class="play" id="playBtn"><i></i><span>播放</span></li>
					<li class="next-frame" onclick="nextFrame()"><i></i><span>下一帧</span></li>
					<li class="next-milestone"><i></i><span>下一里程碑</span></li>
				</ul>
				<ul class="tool-play tool-end" id="embryo_fate_typeIdDiv">
				</ul>
				<ul class="tool-play tool-metrical">
					<li class="straight"><i></i><span>直线测量</span></li>
					<li class="roundness"><i></i><span>圆形测量</span></li>
				</ul>
				<div class="tool-btn">
					<div class="layui-input-inline" style="margin-left: 0px;">
						<button class="layui-btn layui-bg-blue" lay-submit lay-filter="">导出视频</button>
					</div>
					<div class="layui-input-inline" style="margin-left: 0px;">
						<button class="layui-btn layui-bg-blue" lay-submit lay-filter="">导出图像</button>
					</div>
				</div>
			</div>
		</div>
		<!--右边信息-->
		<div class="info">
			<!--孔位选择-->
			<div class="site" id="site">
				<h1>孔位选择</h1>
				<ul id="siteitem">
						<li class="active"><span>well1</span><img src="/static/front/img/20180725183944.jpg"><i></i></li>
				</ul>
			</div>

			<form action="" id="milestoneForm" class="layui-form">
				<input type="hidden" name="embryoId" value="{{embryo_id}}"/>
				<input type="hidden" name="procedureId" value="{{procedure_id}}"/>
				<input type="hidden" id="milestoneStage" name="milestoneStage"  />
				<input type="hidden" id="milestonePath" name="milestonePath"  />
				<input type="hidden" id="timeSeries"  name="timeSeries"  />
				<div id="milestone">

					<div class="layui-input-block"
						style="margin: 6px 8px 6px; min-height: 0;">
						<input type="checkbox" name="set" id="milestoneCheckbox"
							lay-skin="primary" lay-filter="milestone" title="将当前图像设为里程碑">
					</div>
					<div class="milestone-select">
						<h2>请选择里程碑节点</h2>
						<div class="layui-input-block" id="milestoneIdDiv"
							style="margin-left: 10px;"></div>
					</div>

				</div>
				<h2 id="stageDiv">
					胚胎形态学<span class="stage" id="stageId">（）</span>
				</h2>

				<div class="layui-form-item" id="pnDiv">
					<label class="layui-form-label"><i>*</i>PN数</label>
					<div class="layui-input-block" id="pnIdDiv"></div>
				</div>
				<div class="layui-form-item" id="countDiv">
					<label class="layui-form-label"><i>*</i>细胞个数</label>
					<div class="layui-input-block">
						<input type="radio" name="count" value="2" title="2C"> <input
							type="radio" name="count" value="3" title="3C"> <input
							type="radio" name="count" value="4" title="4C"> <input
							type="radio" name="count" value="5" title="5C"> <input
							type="radio" name="count" value="6" title="6C"> <input
							type="radio" name="count" value="7" title="7C"> <input
							type="radio" name="count" value="8" title="8C">
					</div>
				</div>
				<div class="layui-form-item" id="evenDiv">
					<label class="layui-form-label">均匀度</label>
					<div class="layui-input-block" id="evenIdDiv"></div>
				</div>
				<div class="layui-form-item" id="fragmentDiv">
					<label class="layui-form-label">碎片率</label>
					<div class="layui-input-block" id="fragmentIdDiv"></div>
				</div>
				<div class="layui-form-item" id="gradeDiv">
					<label class="layui-form-label"><i>*</i>评级</label>
					<div class="layui-input-block" id="gradeIdDiv"></div>
				</div>
				<h2 id="embryoSjDiv">胚胎数据</h2>
				<div id="embryoDiv" class="layui-form-item emdate">
					<div class="layui-inline">
						<label class="layui-form-label">胚胎外周面积</label>
						<div class="layui-input-inline">
							<input type="text" id="area" name="area" autocomplete="off" class="layui-input">
						</div>
						<label class="unit">²um</label>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">胚胎外周直径</label>
						<div class="layui-input-inline">
							<input type="text" id="diameter" name="diameter" autocomplete="off" class="layui-input">
						</div>
						<label class="unit">um</label>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">胚胎内面积</label>
						<div class="layui-input-inline">
							<input type="text" id="area" name="area" autocomplete="off" class="layui-input">
						</div>
						<label class="unit">²um</label>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">胚胎内直径</label>
						<div class="layui-input-inline">
							<input type="text" id="area" name="area" autocomplete="off" class="layui-input">
						</div>
						<label class="unit">um</label>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">扩张囊腔面积</label>
						<div class="layui-input-inline">
							<input type="text" id="thickness" name="thickness" autocomplete="off" class="layui-input">
						</div>
						<label class="unit">²um</label>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">透明带厚度</label>
						<div class="layui-input-inline" >
							<input type="text" id="thickness" name="thickness" autocomplete="off" class="layui-input">
						</div>
						<label class="unit">um</label>
					</div>
					<!--备注-->
					<h2>备注</h2>
					<div class="comment">
						<div class="layui-input-inline" style="width: 90%;">
							<textarea id="memo" rows="5" name="memo" placeholder="请输入内容" class="layui-textarea" style="min-height: 46px"></textarea>
						</div>
					</div>
				</div>
				<h2 style="padding-bottom: 0;">胚胎评分<span class="score">25</span></h2>
				<div class="layui-input-block"	style="text-align: center; margin:20px 0 0;">
					<button id="saveMilestoneButton" class="layui-btn layui-bg-blue"
						lay-submit lay-filter="milestoneFormSub" style="padding: 0 80px;">保存数据</button>
				</div>
			</form>

		</div>
	</div>
</div>
<div style="clear: both; height: 80px; width: 100%;"></div>
</div>

<!--公共js引入-->
<script src="/static/front/js/embryo/embryo.js"></script>
<!--<script src="/static/front/js/embryo/image.js"></script> -->
<!--<script src="/static/front/js/embryo/well.js"></script> -->
<script src="/static/front/js/embryo/swiper.min.js"></script>
<script src="/static/admin/common/jquery.mousewheel.js"></script>
<script src="/static/admin/common/jquery.mousewheel.min.js"></script>


{% endblock %}