flask>=0.12.0
sqlalchemy>=1.2.0
flask_sqlalchemy>=2.3.0
sqlalchemy_serializer>=0.9
pymysql>=0.8.0
opencv-python>=3.4.1.15
numpy>=1.14.0
Pillow
requests>=2.18.0
numba>=0.37.0
pyyaml>=3.12
Flask-Session>=0.3.0
Flask-Apscheduler>=1.8.0
jinja2>=2.10.0
configparser>=3.5.0
flask-restful>=0.3.6
flask-login
tensorflow>=1.9.0
Keras>2.2.0
scikit-image>=0.13.0
pyknow>=1.7.0
python-logstash>=0.4.6
minio>=4.0.0
