<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="/static/admin/layui/css/layui.css" />
<link rel="stylesheet" type="text/css" href="/static/front/css/main.css" />
<link rel="stylesheet" type="text/css" href="/static/front/css/rule.css" />
<style type="text/css">
html {
	background-color: #fff;
}

body {
	background-color: #fff;
	padding: 20px 20px 0 20px;
	height: auto;
}

.edit {
	width: 400px;
	/* margin: auto; */
	/* height: 300px; */
}

.layui-form-label {
	width: 100px;
}

.layui-input-block {
	margin-left: 134px;
}
</style>
</head>

<body>
	<div class="edit">
		<form class="layui-form" name="ruleForm" id="ruleForm" action="">
			<div class="layui-form-item">
				<label class="layui-form-label">条件</label>
				<div class="layui-input-block">
					<select name="condition" id="condition">
						<option value="">请选择</option> {% for obj in conditionList %}
						<option value="{{obj.dictKey}}">{{obj.dictValue}}</option> {%
						endfor %}
					</select>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">符号</label>
				<div class="layui-input-block">
					<select name="symbol" id="symbol">
						<option value="">请选择</option> {% for obj in symbolList %}
						<option value="{{obj.dictKey}}">{{obj.dictValue}}</option> {%
						endfor %}
					</select>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">判断值</label>
				<div class="layui-input-block">
					<input type="text" name="value" id="value" placeholder="请输入"
						class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">分值</label>
				<div class="layui-input-block">
					<input type="text" name="score" id="score" placeholder="请输入"
						class="layui-input">
				</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">权重</label>
				<div class="layui-input-block">
					<input type="text" name="weight" id="weight" laceholder="请输入"
						class="layui-input">
				</div>
			</div>

			<div class="layui-form-item" align="center">
				<button type="button" class="layui-btn" onclick="save();">保存</button>
			</div>
		</form>
	</div>

	<script src="/static/admin/layui/layui.js"></script>
	<script src="/static/admin/common/jquery.min.js" charset="utf-8"></script>
	<script src="/static/front/js/rule/rule_json_save.js"></script>
</body>

</html>