<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1">
    <title></title>

    <script src="/static/admin/layui/layui.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/static/admin/layui/css/layui.css">
    </head>
    <body class="login-body body">

      <div class="login-box">
          <form id="loginForm" class="layui-form layui-form-pane" method="post" action="http://localhost:6001/api/v1/user/login">
              <div class="layui-form-item">
                  <h3>EmbryoAI系统登录</h3>
              </div>
              <div class="layui-form-item">
                  <label class="layui-form-label">账号：</label>

                  <div class="layui-input-inline">
                      <input type="text" name="username" class="layui-input" lay-verify="username" placeholder="账号" autocomplete="on" maxlength="20"/>
                  </div>
              </div>
              <div class="layui-form-item">
                  <label class="layui-form-label">密码：</label>

                  <div class="layui-input-inline">
                      <input type="password" name="password" class="layui-input" lay-verify="password" placeholder="密码" maxlength="20"/>
                  </div>
              </div>
              <div class="layui-form-item">
                <div class="layui-input-inline">
                  <input type="checkbox" name="isLoginAdmin" title="进入后台系统" value="1" lay-skin="primary" checked>
                </div>
              </div>
              <div class="layui-form-item">
                  {% if msg %}
                  <div class="layui-input-inline">
                      提示：<span>{{msg}}</span>
                  </div>  
                  {% endif %} 
              </div>
              <div class="layui-form-item">
                  <button type="reset" class="layui-btn layui-btn-danger btn-reset">重置</button>
                  <button type="button" id="loginSubmit" class="layui-btn btn-submit" lay-submit lay-filter="login">登录系统</button>
              </div>
          </form>
      </div>  
    <script src="/static/admin/js/common/jquery-3.2.1.min.js" charset="utf-8"></script>
    <script src="/static/admin/layui/layui.js" charset="utf-8"></script>
    <script src="/static/admin/js/user/login.js" charset="utf-8"></script>
    </body>
</html>