.det-box{
	width: 98%;
	margin: auto;
	background-color: #fff
}
.info-top{
	width: 100%;
	height: 64px;
	line-height: 64px;
}
.info-top li{
	float: left;
	margin-left: 8px;
	background: url(../img/icon-cycle1.png) no-repeat left center;
	padding-left: 30px;
	font-weight: bold;
	font-size: 16px
}
.info-top li span{
	margin-right: 20px;
}
.info-top li.emb{
	background: url(../img/icon-cycle2.png) no-repeat left center;
}
.info-top li.emb:nth-child(3){
	background: url(../img/icon-cycle3.png) no-repeat left center;
}
.info-top li:nth-child(4){
	background: url(../img/icon-cycle4.png) no-repeat left center;
}
.info-top li:nth-child(5){
	background: url(../img/icon-cycle5.png) no-repeat left center;
}
.info-top li:nth-child(6){
	background: url(../img/icon-cycle6.png) no-repeat left center;
}
.grade,.paoq,.lengd,.daid,.yiz{
	font-weight: bolder;
}
.grade{
	color: #457cdb;
}
.paoq{
	color: #f81c1c;
}
.lengd{
	color: #0dbfb5;
}
.daid{
	color: #ff8429;
}
.yiz{
	color: #45ac51;
}
.cycle-img{
	width: 100px;
	height: auto;
	line-height: 0;
}
.cycle-t{
	display: block;
	width: 100%;
	text-align: center;
	line-height: 0;
	font-weight: normal;
}
.layui-table tbody tr:hover, .layui-table thead tr, .layui-table-click, .layui-table-header, .layui-table-hover, .layui-table-mend, .layui-table-patch, .layui-table-tool, .layui-table[lay-even] tr:nth-child(even){
		background-color: #f2f2f2;
	}
.layui-table td, .layui-table th, .layui-table-fixed-r, .layui-table-header, .layui-table-page, .layui-table-tips-main, .layui-table-tool, .layui-table-view, .layui-table[lay-skin=line], .layui-table[lay-skin=row]{
	border-color: #e6e6e6;
}	
.layui-table td, .layui-table th{
	line-height: 34px;
}
.layui-table td{
	line-height: 120px;
}