.dish-name a{
	font-weight: bolder;
	font-size: 18px;
	color: #3c83f7;
	padding: 0;
	padding-bottom: 6px;
	border-bottom: 2px #3c83f7 solid;
}
.dish-sec{
	width:100% ;
	/* border: 1px solid #007AFF; */
	height: 510px;
	margin-top: 28px;
}
.dish-box,.dish-info{
	width: 1046px;
	padding: 10px;
	background-color: #fff;
	height: 600px;
	border-radius: 4px;
	border: #ced2d5 1px solid;
	box-shadow:0px 0px 8px rgba(0,0,0,0.08) ;
	float: left;
}
.dish-info{
	width: 260px;
	margin-left: 8px;
}
.dishimg{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 354px;
}
.dishimg li{
	width: 160px;
	height: 160px;
	padding: 2px;
	border: 1px solid #b2b2b2;
	border-radius: 4px;
	float: left;
	margin-bottom: 30px;
	margin-right: 10px;
	/* overflow: hidden; */
	position: relative;
	background:  url(../img/icon-noemb.jpg) no-repeat center;
}
.dishimg li video{
	width: 160px;
	height: 160px;
}
.dishimg li.active{
	border: 1px solid #4a81e4;
	box-shadow: 0px 5px 10px rgba(68,122,218,0.2)
}
.dishimg i{
	position: absolute;
	top: 2px;
	right: 2px;
	display:block;
	width:30px;
	height:30px;
}
.dishimg span{
	position: absolute;
	top: 2px;
	left: 2px;
	display:block;
	width:30px;
	height:30px;
}
.dishimg span.standard{
	background: url(../img/icon-dish1.png) no-repeat center top;
}
.dishimg i.transplant{
	background: url(../img/icon-dish2.png) no-repeat center top;
}
.dishimg i.freeze{
	background: url(../img/icon-dish3.png) no-repeat center top;
}
.dishimg i.abandon{
	background: url(../img/icon-dish4.png) no-repeat center top;
}
.dishimg i.hold{
	background: url(../img/icon-dish5.png) no-repeat center top;
}
.dishimg li div {
    width: 160px;
    margin: auto;
    height: 160px;
    overflow: hidden;
}
.dishimg li img{
	width: 100%;
}
.dishimg li:nth-child(6),.dishimg li:last-child{
	margin-right: 0;
}
.dishimg li b{
	position: absolute;
	bottom: 2px;
	left: 2px;
	display: block;
	padding: 2px;
	color: #fff;
	z-index: 99;
}
.dishimg li strong{
	position: absolute;
	bottom: 2px;
	right: 2px;
	display: block;
	padding: 2px;
	color: #fff;
	z-index: 99;
	font-size: 12px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.82);
    background: rgba(0, 0, 0, 0.23);
}
.dish-tool{
	width: 1044px;
	border: 1px solid #dfe3ea;
	padding: 0;
}
.dish-tool .tool-end{
	width: 320px;
}
.standard{
	border-right: 1px solid #b4b6d5;
	padding-right: 10px;
}
.tool-end li.standard i{
	background: url(../img/tool-end0.png) no-repeat center;
}
.dish-tool .tool-btn{
	margin-top: 20px;
}
.dish-tool .tool-btn .layui-btn{
	height: 32px;
    line-height: 32px;
    font-size: 14px;
    padding: 0 10px;
}
.dish-info h1{
	border-left: 4px solid #1c7eff;
	font-size: 18px;
	height: 16px;
	line-height: 16px;
	padding-left: 10px;
	font-weight: bolder;
	color: #1b2437;
	margin-bottom: 34px;
	margin-top: 10px;
}
.dish-info ul li{
	font-weight: bolder;
	font-size: 14px;
	margin-top: 17px;
	margin-left: 16px;
}
.dish-info ul li strong{
	display: inline-block;
	width: 80px;
}
.dish-info ul li span{
	font-weight: normal;
}
.dish-info ul li:first-child span{
	margin-right: 25px;
	font-weight: bolder;
}
.dish-ttar{
	margin-left: 0;
}
.dish-ttar textarea{
	min-height: 30px;
	height: 110px;
	width: 100%;
	font-weight: normal;
}
.dish-ttar .layui-btn{
	padding: 0 8px;
	height: 32px;
	line-height: 32px;
	margin-top: 10px;
	font-weight: normal;
}
.em-info{
	margin-top: 20px;
	margin-left: 10px;
}
.em-info span{
	display: inline-block;
	height: 28px;
	padding: 0 8px;
	line-height: 28px;
	margin-right: 10px;
	background-color: #f3f4f8;
	border: 1px solid #dfe3ea;
	box-shadow: 0px 3px 8px rgba(159,165,175,0.2);
	transition: all 0.3s;
}
.em-info span i{
	display: inline-block;
	padding-left: 20px;
	color: #467cdc;
	font-style: normal;
	background: url(../img/emdate.png) no-repeat left center;
}
.em-info span:hover{
	cursor: pointer;
	box-shadow: 0px 5px 10px rgba(159,165,175,0.34);

}
.s-cursor{
	cursor: url('../img/tool-end0.png'),auto;
}
.t-cursor{
	cursor: url('../img/tool-end1.png'),auto;
}
.f-cursor{
	cursor: url('../img/tool-end2.png'),auto;
}
.a-cursor{
	cursor: url('../img/tool-end3.png'),auto;
}
.h-cursor{
	cursor: url('../img/tool-end4.png'),auto;
}
.tool-end li{
	/* opacity: 0.8; */
	-webkit-filter: grayscale(80%);
    filter: grayscale(80%);
}
.tool-end .active{
	transform:scale(1.2);
	font-weight: bolder;
	-webkit-filter: none;
	filter: none;
}
/* 时间轴 */
.time-box{
	width: 99%;
	margin: auto;
	margin-bottom: 15px;
}
.time-box h3{
	margin-bottom: 12px;
	padding-left: 8px;
	font-size: 14px;
	font-weight: bolder;
}
.time-page{
	display: inline-block;
	background: #3c83f7;
	border-radius: 20px;
	padding:4px 10px;
	color: #bfd8ff;
	margin-left: 6px;
}
.time-page i{
	display: inline-block;
	padding: 0px 4px;
	border-radius: 20px;
	margin:0px;
	font-size: 12px;
	cursor: pointer;
	font-style: normal;
	text-transform:lowercase;
}
.time-page i.active{
	background-color: #fff;
	color: #3c83f7;
}
.time-page i:hover{
	background-color: #fff;
	color: #3c83f7;
	opacity: 0.8;
}
.time-page i span{
	display: none;
}
.time-lbox{
	width: 100%;
	height: 56px;
}
.time-list{
	display: inline-block;
	margin-top: 30px;
	margin-left: 10px;
	border-top: #bbd3ff 2px solid;
}
.time-list span{
	font-size: 12px;
	text-align: center;
	display: inline-block;
	padding-top: 14px;
	min-width: 11px;
	height: 16px;
	margin: 0 5px;
	margin-top: -6px;
	line-height: 22px;
	cursor: pointer;
	background: url(../img/icon-timel1.png) no-repeat top center;
	position: relative;
	transition: all 0.3s;
}
.time-list span:first-child{
	margin-left: 0;
}
.time-list span:last-child{
	margin-right: 0;
}
.time-list span i{
	display: none;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	text-transform:lowercase;
	
}
.time-list span:first-child i,.time-list span:last-child i{
	display: inline-block;
	top: -22px;
}
.time-list span.active i{
	display: inline-block;
	color: #3c83f7;
}
.time-list span.active,.time-list span:hover{
	transform:scale(1.1);
	background: url(../img/icon-timel.png) no-repeat top center;
}
.tool-btn{
	margin-left: 60px
}
.dishimg li b{
	position: absolute;
	bottom: 2px;
	left: 2px;
	display: block;
	padding: 2px;
	color: #fff;
	z-index: 99;
	background: #4e4d4c;
	font-size: 12px;
}
.dishimg li a{
	position: absolute;
	bottom: -22px;
	right: 2px;
	display: block;
	padding: 2px;
	color: #3c83f7;
	z-index: 99;
	/* text-shadow: 1px 1px 0px rgba(0,0,0,1); */
	cursor: pointer;
}