/*上部滚动图*/
.curtime{
	/* margin-bottom: 20px; */
    font-weight: bold;
	color: #1b2437;
	line-height: 28px;
	height: 28px;
	background-color: #f0f0f0;
}
.curtime span{
	color: #467cdc;
}
.scrollpic {
	width: 1440px;
	margin:auto;
	height: 122px;
	margin-top: 10px;
}
.btn-prev,.btn-next{
	float: left;
	width: 30px;
	height: 106px;
	line-height: 106px;
	text-align: center;
	margin-left: 7px;
	transition:all .3s ease;
}
.btn-prev:hover,.btn-next:hover{
	transform:scale(1.5);
	cursor: pointer;
}
.btn-next{
	float: right;
	margin-left: 0;
	margin-right: 7px;
}
.btn-prev img,.btn-next img{
	width: 22px;
}
.swiper-wrapper {
	float: left;
	width:1348px;
	height: 106px;
	margin: 0 9px;
}
.swiper-slide{
	width: 104px;
	height: 104px;
	background-color: #ffffff;
	border: solid 1px #979697;
	position: relative;
	float: left;
	text-align: center;
	margin: 0 9px;
	cursor: pointer;
	transition:all .3s ease;
}
.swiper-wrapper .swiper-slide:first-child{
	margin-left: 0;
}
.swiper-wrapper .swiper-slide:last-child{
	margin-right: 0;
}
.swiper-slide:hover{
	transform:scale(1.1);
}
.swiper-slide img{
	width: 100px;
	margin-top: 2px;
}
.swiper-slide span{
	display: inline-block;
	position: absolute;
	top: 2px;
	left: 2px;
	background-color: #7d7e80;
	padding: 1px 3px;
	color: #fff
}
.swiper-slide b{
	display: block;
	position: absolute;
	bottom: 2px;
	left: 2px;
	width: 100px;
	background-color: #ffffff;
	box-shadow: 0px -1px 10px 0px rgba(0, 0, 0, 0.22);
	opacity: 0.6;
	color: #000;
}

.swiper-wrapper .active{
	transform:scale(1.1);
	background-color: #327fe7;
	border: solid 1px #327fe7;
}
.swiper-wrapper .active b{
	background-color: #327fe7;
	box-shadow: 0px -1px 10px 0px rgba(0, 0, 0, 0.22);
	opacity: 1;
	color: #fff;
}
.swiper-wrapper .active span{
	background-color: #327fe7;
	color: #fff;
	opacity: 1;
}

/*胚胎大图*/
.viewbox{
	clear: both;
	width: 100%;
	margin: auto;
	padding-top: 8px;
	padding-bottom: 20px;
}
.embryo{
	float: left;
	width: 940px;
	position: relative;
}

.lg-img{
	width: 932px;
	padding: 2px;
	border: 2px solid #e0e2e6;
	height: 640px;
	overflow: hidden;
	background-color: #ededed;
}
.lg-img img{
	width: 100%;
	/* margin-top: -20px; */
}

.lg-video-img{
	width: 932px;
	padding: 2px;
	border: 2px solid #e0e2e6;
	height: 640px;
	overflow: hidden;
	background-color: #ededed;
}
.lg-video-img img{
	width: 100%;
	margin-top: -20px;
}

.tool{
	margin-top: 10px;
	background-color: #eef1f8;
	width: 932px;
	height: 70px;
	padding: 2px;
	border: 2px solid #eef1f8;
}
.eminfo{
	position: absolute;
	left: 4px;
	top: 4px;
	color: #fff;
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.6);
	z-index: 88;
}
.eminfo li{
	padding-left: 8px;
}
.eminfo li:first-child span{
	margin-right: 20px;
}
.metrical{
	position: absolute;
	left: 4px;
	bottom:92px;
	color: #fff;
	background-color: rgba(238,212,38,0.5);
	padding:8px;
	color: #ed1b20;
	z-index: 999;
	/*text-shadow: 1px 1px 0px rgba(0,0,0,0.6);*/
}
.metrical span{
	display: block;
}
.mark{
	position: absolute;
	right:2px;
	top: 4px;
	padding:4px;
	z-index: 88;
}
.mark i{
	display: block;
	width: 48px;
	height: 48px;
	z-index: 999;
}
.mark i.transplant{
	background: url(../img/embryo-transplant.png);
}
.mark i.freeze{
	background: url(../img/embryo-freeze.png);
}
.mark i.abandon{
	background: url(../img/embryo-abandon.png);
}
.mark i.hold{
	background: url(../img/embryo-hold.png);
}
.elect{
	position: absolute;
	bottom:92px;
	right: 2px;
	background-color: rgba(255,255,255,0.8);
	z-index: 999;
	padding: 10px;
}
.elect .layui-form-item{
	margin-bottom: 0;
}
.elect .layui-input-block{
	margin-left: 20px;
}
/*z轴*/
.shaft{
	position: absolute;
	right: 18px;
	top: 40%;
	transform: translateY(-40%);
	z-index: 999;
}
.shaft h6{
	text-align: center;
	color: #eed426;
	font-weight: bold;
}
.time-vertical {
    list-style-type: none;
    border-left: 2px solid #eed426;
    padding:6px 0px;
	margin-left: 14px;
}
 
.time-vertical li{
    position: relative;
	width: 18px;
	font-size: 0;
	margin:0;
	margin-left: -22px;
	height: 16px;
	padding-left: 12px;
	line-height: 22px;
	cursor: pointer;
}
.time-vertical li:hover b{
	background: #fff;

}
.time-vertical li b{
	display: inline-block;
	background: #eed426;
	width: 100%;
	height: 3px;

}
.time-vertical li.active {
	background: url(../img/timer-arrow.png) no-repeat left center;
}
.time-vertical li.active b{
	height: 5px;
}
/*右边信息栏*/
.info{
	float: right;
	width: 470px;
	min-height: 418px;
	background: url(../img/icon-nolcb.png) no-repeat bottom center;
}
.info .layui-form-radio{
	margin-right: 0px;
}
.export-btn{
	float: left;
	width: 130px; 
	height: 120px;
}
.site{
	width: 1440px;
	height: 60px;
	line-height: 60px;
	}
.site h1{
	float: left;
	width: 80px;
	height: 60px;
	line-height: 60px;
	font-size: 14px;
	color: #1b2437;
	font-weight: bold;
}
.siteitem{
	height: 60px;
	float: left;
}
.siteitem li{
	float: left;
	text-align: center;
	cursor: pointer;
}
.siteitem li span{
	margin-right: 18px;
	display: inline-block;
	width: 52px;
	line-height: 26px;
	height: 26px;
	background-color: #ffffff;
	border: solid 3px #d7dae0;
	text-align: center;
	color: #7a7e80;
	font-size: 14px;
	cursor:pointer;
	transition: all 0.5s;
}
.siteitem li span:hover{
	box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
}
.siteitem span:hover{
	box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
}
.siteitem .active span{
	background-color: #1c7eff;
	color: #fff;
	border: solid 3px #1c7eff;
	box-shadow: 0px 2px 10px 0px rgba(28, 126, 255, 0.26);
	animation:activemove 1s;
	-webkit-animation:activemove 1s;
}
/*备注*/
.comment h1{
	color: #1b2437;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 0;
}
#milestone{
	margin: 10px 0;
	background-color: #dae1f1;
	border: 1px solid #b8c0d1;
	height: 31px;
	overflow: hidden;
	margin-top: 0;
}
.milestone-select{
	background-color: #f7f8fb;
}
.info h2{
	color: #1b2437;
	font-size: 14px;
	font-weight: bold;
	padding:2px 10px;
}
.info h2 .score{
    color: #ff8429;
	font-size: 54px;
	vertical-align: middle;
	margin-left: 40px;
}
#milestone-select .layui-btn{
	height: 26px;
	line-height: 26px;
}
.stage{
	color: #457cdb;
}
.emdate input{
	color: #3c83f7;
	padding-left: 0;
}
.emdate .layui-form-label{
	width: 84px;
	padding: 8px 4px;
}
.emdate .layui-input-inline{
	margin-right: 4px;
	width: 54px;
}
.emdate .layui-inline{	
	margin-bottom: 14px;
}
.emdate .unit{
	line-height: 32px;
}
/* .emdate .layui-input{
	height: 23px;
} */
.layui-form-item{
	margin-bottom: 2px;
}
.layui-form-label i{
	color: #ec3135;
	margin-right:2px ;
	font-style: normal;
}
.measuredata{
	color: #ff8429;
	font-size: 14px;
}
.measuredata span{
	display: inline-block;
	width: 98px;
}
.measuredata strong{
	display: inline-block;
	width: 82px;
	font-style: italic;
}
.mdbtn span{
	  color: #007DDB;
    margin-right: 10px;
    cursor: pointer;
    padding-top: 8px;
    display: inline-block;
    font-style: italic;
    text-decoration: underline;
}
.measuredata a{
	margin-left: 10px;
	display: inline-block;
    color: #135de0;
   	cursor: pointer;
}
.measuredata a:hover{
	color: #1e9fec;
}
/*胚胎工具栏-播放*/
.tool-play{
	height: 46px;
	border-right: 1px solid #b4b6d5;
	margin-top: 12px;
	width: 338px;
	margin-left: 2px;
	float: left;
}
.tool-play li{
	float:left ;
	width: 66px;
	text-align: center;
	color: #53575a;
	font-size: 12px;
	cursor: pointer;
	margin-top: 2px;
	transition: all 0.3s;
}
.tool-play li:hover{
	margin-top: 0;
}
.tool-play li i{
	display: block;
	width: 100%;
	height: 20px;
	margin-bottom: 10px;
}
.tool-play li.pre-milestone i{
	background: url(../img/tool-icon1.png) no-repeat center;
}
.tool-play li.pre-frame i{
	background: url(../img/tool-icon2.png) no-repeat center;
}
.tool-play li.play i{
	background: url(../img/tool-icon3.png) no-repeat center;
}
.tool-play li.stop i{
	background: url(../img/tool-icon6.png) no-repeat center;
}
.tool-play li.next-frame i{
	background: url(../img/tool-icon4.png) no-repeat center;
}
.tool-play li.next-milestone i{
	background: url(../img/tool-icon5.png) no-repeat center;
}
/*胚胎工具栏-结局*/
.tool-end{
	height: 46px;
	border-right: 1px solid #b4b6d5;
	margin-top: 12px;
	width: 250px;
	margin-left: 8px;
	float: left;
}
.tool-end li{
	width: 54px;
}
.tool-end li.transplant i{
	background: url(../img/tool-end1.png) no-repeat center;
}
.tool-end li.freeze i{
	background: url(../img/tool-end2.png) no-repeat center;
}
.tool-end li.abandon i{
	background: url(../img/tool-end3.png) no-repeat center;
}
.tool-end li.hold i{
	background: url(../img/tool-end4.png) no-repeat center;
}
/*胚胎工具栏-测量*/
.tool-metrical{
	width: 170px;
	border-right: none;
}
.tool-metrical li{
	width: 82px;
		-webkit-filter: grayscale(80%);
	filter: grayscale(80%);
}
.tool-metrical li.straight i{
	background: url(../img/tool-measure1.png) no-repeat center;
}
.tool-metrical li.roundness i{
	background: url(../img/tool-measure2.png) no-repeat center;
}
.tool-metrical li.roundness2 i{
	background: url(../img/tool-measure3.png) no-repeat center;
}
.tool-metrical li.roundness3 i{
	background: url(../img/tool-measure4.png) no-repeat center;
}
.tool-metrical li.active{
	transform:scale(1.2);
	filter: none;
}
.tool-btn{
	float: right;
	width: 156px;
	height: 24px;
	margin-top: 23px;
	/* margin-left: 10px; */
}
.tool-btn .layui-btn{
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	padding: 0 8px;
	margin-left: 10px;
}
/*canvas设置*/
.canvas-box{
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 90px;
	right: 2px;
	background-color: transparent;
	z-index: 99;
}
#canvas{
	cursor: pointer;
	background-color: transparent;
	margin: 2px 0 0 2px;
}
.elect label {
	font-size: 14px;
	cursor: pointer;
}

.elect label i {
	font-size: 12px;
	font-style: normal;
	display: inline-block;
	width: 12px;
	height: 12px;
	text-align: center;
	line-height: 12px;
	color: #fff;
	vertical-align: middle;
	margin: -2px 2px 1px 0px;
	border: #3c64f7 1px solid;
	background-color: #fff;
}

.elect input[type="checkbox"],input[type="radio"] {
	display: none;
}

.elect input[type="radio"]+i {
	border-radius: 7px;
}

.elect input[type="checkbox"]:checked+i,input[type="radio"]:checked+i {
	background: #3c64f7;
}

.elect input[type="checkbox"]:disabled+i,input[type="radio"]:disabled+i {
	border-color: #ccc;
}

.elect input[type="checkbox"]:checked:disabled+i,input[type="radio"]:checked:disabled+i {
	background: #ccc;
}

/* 测量数据导入 */
.dbox{
	width: 260px;
	padding: 10px;
	margin: auto;
	display: none;
}
.dbox p{
	margin-top:14px;
	text-align: center;
	color: #ff8429;
}
.dbox p strong{
	color: #47494b;
}
.dbox label{
	cursor: pointer;
	color: #47494b;
}
.dbox label i {
	font-size: 14px;
	font-style: normal;
	display: inline-block;
	width: 14px;
	height: 14px;
	text-align: center;
	line-height: 14px;
	color: #fff;
	vertical-align: middle;
	margin: -2px 2px 1px 0px;
	border: #3c64f7 1px solid;
	background-color: #fff;
}
.dbox input[type="checkbox"],input[type="radio"] {
	display: none;
}
.dbox input[type="radio"]+i {
	border-radius: 50%;
}

.dbox input[type="checkbox"]:checked+i,input[type="radio"]:checked+i {
	background: #3c64f7;
}

.dbox input[type="checkbox"]:disabled+i,input[type="radio"]:disabled+i {
	border-color: #ccc;
}

.dbox input[type="checkbox"]:checked:disabled+i,input[type="radio"]:checked:disabled+i {
	background: #ccc;
}
.info h2 .reset{
	margin-left: 10px;
	text-decoration: underline;
	color: #007AFF;
	font-size: 12px;
	cursor: pointer;
}
.info h2 .reset:hover{
	opacity: 0.8;
}
.tomin{
	float: right;
    color: #467cdc;
	font-weight: bolder;
	cursor: pointer;
}
.zarrowU,.zarrowD{
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url(../img/yellow-arrowU.png) no-repeat top center;
	cursor: pointer;
	margin: 5px 0;
	opacity: 0.9;
	transition: all 0.3s;
}
.zarrowD{
	margin-top: 20px;
	background: url(../img/yellow-arrowD.png) no-repeat top center;
}
.zarrowU:hover,.zarrowD:hover{
	transform:scale(1.2);
	opacity: 1;
}