{% extends 'front/header-footer.html' %} {% block mianDiv %}
<link rel="stylesheet" type="text/css" href="/static/front/css/embryo.css"/>
<link rel="stylesheet" type="text/css" href="/static/front/css/dishView.css"/>
<style type="text/css">
    .main{
        width: 1400px;
        margin: auto;
    }
</style>

<!--主体内容都放在这个div里-->
<div class="main">
	<input type="hidden" id="procedureId" value="{{procedure_id}}"/>
	<input type="hidden" id="dishId" value="{{dish_id}}"/>
	<input type="hidden" id="dishCode" value="{{dishCode}}"/>
	
    <div class="title">
        <h1>皿视图</h1>
        <h6>Dish View</h6>
    </div>
    <div class="dish-name" id="dish-nameDiv"><a>@培养箱  ： Dish #</a></div>
    <div class="dish-sec">
        <div class="dish-box">
            <ul class="dishimg" id="dishImageUl">
                <li class="dishbox1">
                    <img src="/static/front/img/icon-noembryo.jpg" >
                </li>
                <li class="dishbox2">
                    <img src="/static/front/img/icon-noembryo.jpg" >
                </li>
                <li class="dishbox3">
                    <img src="/static/front/img/icon-noembryo.jpg" >
                </li>
                <li class="dishbox4">
                    <img src="/static/front/img/icon-noembryo.jpg" >
                </li>
                <li class="dishbox5">
                    <img src="/static/front/img/icon-noembryo.jpg" >
                </li>
                <li class="dishbox6">
                    <img src="/static/front/img/icon-noembryo.jpg" >
                </li>
                <li class="dishbox7">
                    <img src="/static/front/img/icon-noembryo.jpg" >
                </li>
                <li class="dishbox8">
                    <img src="/static/front/img/icon-noembryo.jpg" >
                </li>
                <li class="dishbox9">
                    <img src="/static/front/img/icon-noembryo.jpg" >
                </li>
                <li class="dishbox10">
                    <img src="/static/front/img/icon-noembryo.jpg" >
                </li>
                <li class="dishbox11">
                    <img src="/static/front/img/icon-noembryo.jpg" >
                </li>
                <li class="dishbox12">
                    <img src="/static/front/img/icon-noembryo.jpg" >
                </li>
            </ul>
						
			<div class="time-box" id="time_box_div">
                <h3>时间节点分段</h3>

					<div class="time-lbox">
						<div class="time-list" id="timelineDiv">
								<!-- <span><i>135h223min</i></span>
								<span><i>135h223min</i></span>
								<span><i>135h223min</i></span>
								<span><i>135h223min</i></span>
								<span><i>135h223min</i></span>
								<span><i>135h223min</i></span>
								<span><i>135h223min</i></span>
								<span><i>135h223min</i></span>
								<span><i>135h223min</i></span>
								<span><i>135h223min</i></span>
								<span><i>135h223min</i></span>								
								<span><i>135h223min</i></span>
								<span><i>135h223min</i></span>
								<span><i>135h223min</i></span>
								<span><i>135h223min</i></span>
								<span><i>135h223min</i></span>
								<span><i>135h223min</i></span>
								<span><i>135h223min</i></span>
								<span><i>135h223min</i></span>
								<span><i>135h223min</i></span> -->
						</div>
                    </div>
                    <div class="time-page" id="timePageDiv">
                        <!-- <i class="active">1<span>11H122M~5H56M</span></i>
                        <i>2</i>
                        <i>3</i>
                        <i>4</i> -->
                </div>

		    </div>
						
            <div class="tool dish-tool">
                <ul class="tool-play">
                    <li class="pre-milestone" onclick="node('up');" ><i></i><span>上一里程碑</span></li>
                    <li class="pre-frame" onclick="preFrame();"><i></i><span>上一帧</span></li>
                    <li class="play" id="playBtn"><i></i><span>播放</span></li>
                    <li class="next-frame" onclick="nextFrame();"><i></i><span>下一帧</span></li>
                    <li class="next-milestone" onclick="node('down');"><i></i><span>下一里程碑</span></li>
                </ul>
                <ul class="tool-play tool-end" id="embryo_fate_type_ul">
                    <li class="standard" name="standard" data-end="0"><i></i><span>基准</span></li>
                    <!-- 
                    <li class="transplant" name="transplant" data-end="1"><i></i><span>移植</span></li>
                    <li class="freeze" name="freeze" data-end="2"><i></i><span>冷冻</span></li>
                    <li class="abandon" name="abandon" data-end="3"><i></i><span>抛弃</span></li>
                    <li class="hold" name="hold" data-end="4"><i></i><span>待定</span></li>
                    -->
                </ul>
                <div class="tool-btn">
                    <div class="layui-input-inline" style="margin-left: 0px;">
                        <button class="layui-btn layui-bg-blue" id="cancelEnd" lay-filter="" >取消鼠标状态</button>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="mobile"/>
        <input type="hidden" id="email"/>
        <div class="dish-info">
            <h1>病历信息</h1>
            <ul>
                <li><span id="patienName"></span><span id="patientAge"></span></li>
                <li><strong>取卵时间：</strong><span id="ecTime"></span></li>
                <li><strong>获卵数：</strong><span id="ecCount"></span></li>
                <li><strong>授精时间：</strong><span id="insemiTime"></span></li>
                <li><strong>IVF/ICSI：</strong><span id="insemiType"></span></li>
                <li><strong>阶段：</strong><span>day3</span></li>
                <li><strong>胚胎数：</strong><span id="embryoNum"></span></li>
                <li><strong>备注：</strong>
                <div class="layui-input-block dish-ttar">
                <textarea name="desc" placeholder="请输入内容" class="layui-textarea" id="memo"></textarea>
                <button class="layui-btn layui-bg-blue" lay-submit lay-filter="" onclick="updateMemo()">保存备注</button>
                </div>
                </li>
            </ul>
            <div class="em-info">
                <span class="em-grade"><i>胚胎评分表</i></span><span class="em-all"><i>胚胎总览表</i></span>
            </div>
        </div>
    </div> 
    <div style="clear:both;width:100%;height:10px;"></div>   
</div>
<script src="/static/front/js/dish/dishView.js"></script>

{% endblock %}