<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="/static/admin/layui/css/layui.css" />
	<link rel="stylesheet" type="text/css" href="/static/front/css/dishView.css" />
</head>

<body>
<div style="padding: 20px;">
		<input id="dishId" name="dishId" type="hidden" value="{{dishId}}" />
		<table class="layui-table">
			<thead id="theadView">
		 
			</thead>
			<tbody id="tbodyView">
				 
			</tbody>
		</table>
	
</div>
	<script src="/static/admin/layui/layui.js"></script>
	<script src="/static/admin/common/jquery.min.js" charset="utf-8"></script>
	<script src="/static/front/js/dish/emAll.js"></script>
</body>

</html>