<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="/static/admin/layui/css/layui.css" />
	<link rel="stylesheet" type="text/css" href="/static/front/css/dishView.css" />
</head>

<body>
	<div style="padding: 20px;">
	<input id="dishId" name="dishId" type="hidden" value="{{dishId}}" />
		<table class="layui-table">
			<thead>
				<tr>
					<th>1</th>
					<th>2</th>
					<th>3</th>
					<th>4</th>
					<th>5</th>
					<th>6</th>
					<th>7</th>
					<th>8</th>
					<th>9</th>
					<th>10</th>
					<th>11</th>
					<th>12</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td id="td1">0</td>
					<td id="td2">0</td>
					<td id="td3">0</td>
					<td id="td4">0</td>
					<td id="td5">0</td>
					<td id="td6">0</td>
					<td id="td7">0</td>
					<td id="td8">0</td>
					<td id="td9">0</td>
					<td id="td10">0</td>
					<td id="td11">0</td>
					<td id="td12">0</td>
				</tr>
			</tbody>
		</table>
	</div>
	<script src="/static/admin/layui/layui.js"></script>
	<script src="/static/admin/common/jquery.min.js" charset="utf-8"></script>
	<script src="/static/front/js/dish/emGrade.js"></script>
</body>

</html>