.in-dish{
	width: 100%;
	height: 100px;
	padding: 15px 0;
	box-shadow: 1px 0px 6px rgba(0,0,0,0.1);
	background-color: #fff;
}
.dish-num{
	width: 80px;
	height: 100px;
	background: url(../img/icon-dish.png) no-repeat center top;
	float: left;
	font-weight: bolder;
	text-align: center;
	margin:0 20px;
}
.dish-num span,.dish-num a{
	display: block;
	font-size: 14px;
}
.dish-num span{
	margin: 25px 0 10px;
	font-size: 18px;
}
.dish-num a{
	color: #1c7eff;
	text-decoration: underline;
	cursor: pointer;
}
.dish-info{
	float: left;
	margin-top: 4px;
}
.dish-info li{
	margin-bottom: 8px;
}
.dish-info li span{
	margin-left: 30px;
	font-weight: bolder;
}
.dish-info li:first-child{
	font-size: 18px;
	color: #1c7eff;
	font-weight: bolder;
	margin-bottom: 16px;
}
.patient-info{
	margin-top: 26px;
	margin-right: 20px;
	float: right;
	padding-top: 48px;
	width: 60px;
	text-align: center;
	color: #1c7eff;
	font-weight: bolder;
	background: url(../img/icon-case.png) no-repeat top center;
	cursor: pointer;
	position: relative;
}
.case-details{
	position: absolute;
	width: 240px;
	padding: 20px;
	line-height: 26px;
	/* background-color: #485566; */
	z-index: 9;
	left: -200px;
	color: #fff;
	font-size: 14px;
	background: url(../img/incubbg.png) no-repeat top center;
}
.case-details strong{
	display: inline-block;
	width: 85px;
	text-align: left;
	font-weight: bolder;
}
.case-details span{
	width: 140px;
	display: inline-block;
	text-align: left;
	margin-left: 15px;
	font-weight: normal;
}
	/* ipad适配 */
	@media only screen and (min-width: 321px) and (max-width: 1024px) {
		.patient-info{
			margin-right: 10px;
		}
	}